/*
The MIT License

Copyright 2013 J. David Mendoza <jdmendozar@gmail.com>.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body {
  padding-top: 60px;
  color: white;
  font: 16px/1.5em Ubuntu, sans-serif;
  background: #333 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hyperion/resources/img/bg1.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/hyperion/resources/img/bg1.jpg', sizingMethod='scale')";
  -webkit-transition: background 2s ease;
  -moz-transition: background 2s ease;
  -ms-transition: background 2s ease;
  -o-transition: background 2s ease;
  transition: background 2s ease; }
  body:before {
    content: url("/hyperion/resources/img/bg1.jpg") url("/hyperion/resources/img/bg2.jpg") url("/hyperion/resources/img/bg3.jpg") url("/hyperion/resources/img/bg4.jpg") url("/hyperion/resources/img/bg5.jpg") url("/hyperion/resources/img/bg6.jpg");
    display: none; }
  body a {
    color: #92bce0; }
    body a:hover, body a:focus {
      color: #b9d4ec; }
  body #login-popup {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    color: #333; }
  body .content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px 0; }
    body .content .app-sidenav {
      margin: 20px 0;
      padding: 10px 0;
      text-shadow: 0 1px 0 #333;
      background-color: rgba(200, 200, 200, 0.5);
      border-radius: 5px; }
      body .content .app-sidenav li.active a {
        font-weight: bold;
        color: #FAFAFA;
        background-color: rgba(100, 100, 100, 0.8); }
      body .content .app-sidenav li a {
        color: #fff; }
        body .content .app-sidenav li a:hover {
          color: #FAFAFA;
          background-color: rgba(200, 200, 200, 0.8); }
    body .content .table {
      background-color: rgba(50, 50, 50, 0.8); }
    body .content .table-striped > tbody > tr:nth-child(odd) > td, body .content .table-striped > tbody > tr:nth-child(odd) > th {
      background-color: rgba(100, 100, 100, 0.5); }
    body .content .table > thead > tr > th, body .content .table > tbody > tr > th, body .content .table > tfoot > tr > th, body .content .table > thead > tr > td, body .content .table > tbody > tr > td, body .content .table > tfoot > tr > td {
      border-top: 1px solid rgba(200, 200, 200, 0.5); }
    body .content .table > thead > tr > th {
      border-bottom: 2px solid rgba(254, 254, 254, 0.5); }
    body .content .table-hover > tbody > tr:hover > td, body .content .table-hover > tbody > tr:hover > th {
      background-color: #7A7A7A; }
  @media (min-width: 768px) and (max-width: 991px) {
    body .castor-nav {
      font-size: 0.75em; } }
  body #signup-li a {
    background-color: #3071a9;
    color: #e6e6e6; }
    body #signup-li a:hover, body #signup-li a:focus {
      background-color: #428bca;
      color: #fff; }
  body legend {
    color: #fff; }
  body .help-block {
    color: #fff; }
  body .btn-facebook {
    background-image: none;
    background-color: #0e285f;
    border-color: #0e285f;
    color: #80a3ec;
    filter: none; }
  body .btn-facebook:hover, body .btn-facebook:focus {
    background-image: none;
    background-color: #153b8b;
    border-color: #0e285f;
    color: #acc3f3;
    filter: none; }
  body .btn-twitter {
    background-image: none;
    background-color: #2095c0;
    border-color: #2095c0;
    color: #e4f5fb;
    filter: none; }
  body .btn-twitter:hover, body .btn-twitter:focus {
    background-image: none;
    background-color: #36b0dd;
    border-color: #2095c0;
    color: white;
    filter: none; }
  body .sidenav {
    margin: 20px 0;
    padding: 10px 0;
    text-shadow: 0 1px 0 #333;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 5px; }
    body .sidenav li.active a {
      font-weight: bold;
      color: #FAFAFA;
      background-color: rgba(100, 100, 100, 0.8); }
    body .sidenav li a {
      color: #fff; }
      body .sidenav li a:hover {
        color: #FAFAFA;
        background-color: rgba(200, 200, 200, 0.8); }

/*# sourceMappingURL=main.css.map */
